# Derive waiting time for each transaction included in the blockchain

## Data preprocessing for blockchain data

In [ ]:
# Timestamp of each block -- same as each tx's timestamp recorded in the corresponding block
block_data = pd.read_csv('/content/drive/My Drive/filter_mempool_data/block_data.csv', index_col=0)
block_data

          number  Unix_timestamp
0       12738509    1.625098e+09
1       12738510    1.625098e+09
2       12738511    1.625098e+09
3       12738512    1.625098e+09
4       12738513    1.625098e+09
...          ...             ...
766486  13504995    1.635414e+09
766487  13504996    1.635414e+09
766488  13504997    1.635414e+09
766489  13504998    1.635414e+09
766490  13504999    1.635414e+09

[766491 rows x 2 columns]

In [ ]:
# hash of each tx -- one-on-one correspondence with the tx indicated in the mempool
df_transactions = pd.read_csv('/content/drive/My Drive/filter_mempool_data/tx_[2021081600,2021082800).csv', index_col=0)
df_transactions["next_block_number"] = df_transactions["block_number"] + 1
df_transactions

,hash,block_number,gas_price,next_block_number
0,0x6cbbad6fa567eb933872c2b401283f9a90016e83f46c...,13098488,82069919234,13098489
1,0xdc8a4df4e924d9404deeb2bc6154525a43dccb77bf0f...,13098488,82069919234,13098489
2,0x11ea3ba2258c58c710fa2f8cd4b769e0b148e670e33f...,13098744,63333363498,13098745
3,0x5feecec3863b4e6f8d820eb34df762cddbb89d24c165...,13099256,66063911419,13099257
4,0x6006b5d3aa589b99547ea5ca411036f9b83688c839e9...,13099768,72832692987,13099769
...,...,...,...,...
14565418,0x1e48f43f6d412a5df40b0cc4c7aa811a500912761e5e...,13059035,48000000000,13059036
14565419,0x7a96399a4bd5adf8ba6492b48c4e3b3e08076096d7e5...,13062367,48000000000,13062368
14565420,0x31d7207bc44a660959f4ea0cfcbc00e06511e0718ed7...,13062113,48000000000,13062114
14565421,0x5589e1b9d403b00783705c26d0706a4ddf765d218243...,13061091,48000000000,13061092
14565422,0x72372d6be4e42f383aff259ee714efc52555e313293e...,13059052,48000000000,13059053

In [ ]:
# merge block and tx data
blockchain_data = df_transactions.merge(block_data, left_on="next_block_number", right_on="number")
blockchain_data = blockchain_data[['hash', 'Unix_timestamp', 'gas_price', 'number']].sort_values('Unix_timestamp', axis=0, ascending=True).reset_index(drop=True)
blockchain_data

,hash,Unix_timestamp,gas_price,number
0,0x5033241a6ea830380e39324062779d17d77a0b0842d8...,1.629072e+09,43538780365,13032881
1,0x2771fd3b96ff380245641e51fd92b1ed492f831655d5...,1.629072e+09,51151219489,13032881
2,0x30393acef08d462ee47bf503de5a426ad068252616f0...,1.629072e+09,46000000000,13032881
3,0x7d985747e65e6b31b54a9476a7bc32e678ac60bfec85...,1.629072e+09,52663526848,13032881
4,0x70841203d4cedac69330fe1c1f9b0952dbd3cf431ff3...,1.629072e+09,81000000000,13032881
...,...,...,...,...
14565418,0x79c323a1e3572f730217e32cc8c7f90e0efa29c86566...,1.630109e+09,505536669108,13110563
14565419,0x3820ea728dfce5f0784335c607773e0650018d2d3245...,1.630109e+09,506036669108,13110563
14565420,0x49f112fc24b42bca98bf867b8c7aeb20ca1bbc9f55d5...,1.630109e+09,606238216894,13110563
14565421,0x4ee33b6af29e33fa80b91be298ffb27a6da06917ff26...,1.630109e+09,505536669108,13110563
14565422,0x00c9bf99d3b623a1ea079abbc5c0af74b9f8b3a7a9af...,1.630109e+09,585000000000,13110563

In [ ]:
legacy_blockchain_data = blockchain_data.loc[blockchain_data['Unix_timestamp'] <= 1628166822]
legacy_blockchain_data

Empty DataFrame
Columns: [hash, Unix_timestamp, gas_price, number]
Index: []

In [ ]:
lf_blockchain_data = blockchain_data.loc[blockchain_data['Unix_timestamp'] > 1628166822].reset_index(drop=True)
lf_blockchain_data

,hash,Unix_timestamp,gas_price,number
0,0x5033241a6ea830380e39324062779d17d77a0b0842d8...,1.629072e+09,43538780365,13032881
1,0x2771fd3b96ff380245641e51fd92b1ed492f831655d5...,1.629072e+09,51151219489,13032881
2,0x30393acef08d462ee47bf503de5a426ad068252616f0...,1.629072e+09,46000000000,13032881
3,0x7d985747e65e6b31b54a9476a7bc32e678ac60bfec85...,1.629072e+09,52663526848,13032881
4,0x70841203d4cedac69330fe1c1f9b0952dbd3cf431ff3...,1.629072e+09,81000000000,13032881
...,...,...,...,...
14565418,0x79c323a1e3572f730217e32cc8c7f90e0efa29c86566...,1.630109e+09,505536669108,13110563
14565419,0x3820ea728dfce5f0784335c607773e0650018d2d3245...,1.630109e+09,506036669108,13110563
14565420,0x49f112fc24b42bca98bf867b8c7aeb20ca1bbc9f55d5...,1.630109e+09,606238216894,13110563
14565421,0x4ee33b6af29e33fa80b91be298ffb27a6da06917ff26...,1.630109e+09,505536669108,13110563
14565422,0x00c9bf99d3b623a1ea079abbc5c0af74b9f8b3a7a9af...,1.630109e+09,585000000000,13110563

## Data preprocessing for mempool data

In [ ]:
# Read the mempool data with corresponding timeframe
mempool = pd.DataFrame(columns = ['hash', 'Unix Timestamp', 'mempool'])
#date_list = ['0725','0726','0727','0728','0729','0730','0731','0801','0802','0803','0804','0805','0806']
date_list = ['0816','0817','0818','0819','0820','0821','0822','0823','0824','0825','0826','0827','0828']
#date_list = ['0828','0829','0830','0831','0901','0902','0903','0904','0905','0906','0907','0908','0909','0910','0911','0912','0913']
#date_list = ['0913','0914','0915','0916','0917','0918','0919','0920','0921','0922','0923','0924','0925','0926','0927','0928']
#date_list = ['0928','0929','0930','1001','1002','1003','1004','1005','1006','1007','1008','1009','1010','1011','1012','1013']
#date_list = ['1013','1014','1015','1016','1017','1018','1019','1020','1021','1022','1023','1024','1025','1026','1027','1028','1029','1030','1031','1101']

for i in range (len(date_list)-1):
  new_data = pd.read_csv(f'/content/drive/My Drive/filter_mempool_data/filter_2021{date_list[i]}00 2021{date_list[i+1]}00).csv', index_col=0)
  mempool = mempool.append(new_data)

In [ ]:
mempool

,hash,Unix Timestamp,mempool
0,0x00000179418366ce1c8b0070f0ca74a8098b9732f24b...,1.629132e+09,Triangle
1,0x000012443b021e2abd57c0ac8daf99606770bc597e53...,1.629103e+09,Triangle
2,0x000031eb65c71494c7e1c1b0a0ae20cae83ed7bf82db...,1.629096e+09,Montreal
3,0x00003f9001f7d4c84b10dc84fe5f92bc766b774e5718...,1.629132e+09,Montreal
4,0x00004775da14eddba2d633255bc834dbd1e11522cc12...,1.629136e+09,Triangle
...,...,...,...
999495,0xffff80181fcbbe103fe3a0aeaf20444c9b131f42e115...,1.629820e+09,Triangle
999496,0xffff92adbc4ec46e60d9ef6c596cbfa05b791182d8bf...,1.629836e+09,Montreal
999497,0xffff9bca1901ec3c9d8e392f20e739a428f5874fae53...,1.629838e+09,Montreal
999498,0xffffc86c64c6719c94eb50e36a90635097a8ad8c5f13...,1.629850e+09,Montreal
999499,0xffffe88066bbf63b170148cf435080807ffabf50ce4e...,1.629848e+09,Montreal